body {
    /* margin: 0; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #000;
    color: #fff;
    /* font-family: Arial, sans-serif; */
    flex-direction: column;
}

#shipType,
#technologiesCount {
    position: absolute;
    top: 10px;
    color: white;
    font-size: 14px;
    z-index: 20;
    /* Higher z-index than startScreen */
    font-family: 'Press Start 2P', cursive;
    /* Arcade font */
}

#shipType {
    left: 10px;
}

#technologiesCount {
    right: 10px;
}


html {
    margin: 0;
    padding: 0;
    overflow: hidden;
    /* Prevent scrolling */
}

canvas {
    border: 1px solid black;
    background-color: black;
}

/* Joystick styling */
#joystick {
    position: absolute;
    bottom: 30px;
    /* Closer to the bottom */
    left: 50%;
    transform: translateX(-50%);
    width: 140px;
    /* Increased width by 40% */
    height: 140px;
    /* Increased height by 40% */
    background-color: rgba(255, 255, 255, 0.2);
    border: 3px solid #fff;
    border-radius: 50%;
    display: none;
    /* Hide by default */
}

#volumeScreen {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 200px;
    background: rgba(0, 0, 0, 0.8);
    color: white;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    z-index: 10;
}

#volumeScreen input[type="range"] {
    width: 80%;
}

#joystick-inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60px;
    /* Adjusted inner circle size */
    height: 60px;
    /* Adjusted inner circle size */
    background-color: white;
    border-radius: 50%;
    border: 2px solid #fff;
    /* Added border for better visibility */
}

#joystick .handle {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 70px;
    /* Increased width by 40% */
    height: 70px;
    /* Increased height by 40% */
    background-color: rgba(255, 255, 255, 0.7);
    border: 2px solid #fff;
    border-radius: 50%;
}

#marketplace {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #111;
    /* Dark background */
    padding: 20px;
    border: 3px solid #4e15ac;
    /* Red border */
    color: #0f0;
    /* Green text color */
    width: 90%;
    max-width: 400px;
    box-sizing: border-box;
    font-family: 'Press Start 2P', cursive;
    /* Arcade font */

    text-align: center;
}

#marketplace h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

#marketplace p,
#marketplace button {
    font-size: 14px;
    margin: 10px 0;
}

#marketplace button {
    background-color: #222;
    /* Dark button background */
    color: #0f0;
    /* Green text color */
    border: 2px solid #f00;
    /* Red border */
    padding: 10px;
    width: 100%;
    cursor: pointer;
    font-family: 'Press Start 2P', cursive;
    /* Arcade font */
}

#marketplace button:hover {
    background-color: #333;
    /* Slightly lighter background on hover */
}

.flashing-arrow {
    position: absolute;
    width: 30px;
    height: 30px;
    border: 2px solid red;
    border-width: 2px 2px 0 0;
    transform: rotate(45deg);
    display: none;
    animation: flash 0.7s infinite;
}

@keyframes flash {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}

#restartButton {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px 40px;
    font-size: 24px;
    display: none;
    background-color: white;
    border: 2px solid black;
    border-radius: 5px;
    cursor: pointer;
}

#startScreen {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    color: white;
    z-index: 10;
    background-color: #111;
    /* Dark background */
    padding: 20px;
    color: #0f0;
    box-sizing: border-box;
    font-family: 'Press Start 2P', cursive;
    /* Arcade font */
    text-align: center;
    overflow-y: auto;
}



#startScreen h2 {
    font-size: 3em;
    /* Increased heading size */
    margin-bottom: 20px;
}

#startScreen p {
    font-size: 1.5em;
    /* Increased paragraph size */
    margin-bottom: 20px;
}

#startScreen button {
    font-size: 0.9em;
    /* Increased button text size */
    padding: 10px 20px;
}


#xpBarContainer {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    height: 20px;
    background-color: #333;
    border: 2px solid #fff;
    border-radius: 10px;
    overflow: hidden;
    display: none;
}

#xpBar {
    width: 0;
    height: 100%;
    background-color: #0f0;
    transition: width 0.5s ease;
    /* Smooth transition effect */
}

/* Styles for the level-up modal */
.modal {
    display: none;
    position: fixed;
    z-index: 100;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    max-width: 400px;
    background-color: #111;
    border: 3px solid #4e15ac;
    color: #0f0;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
    font-family: 'Press Start 2P', cursive;
}

.modal-content button {
    background-color: #222;
    color: #0f0;
    border: 2px solid #4e15ac;
    padding: 10px;
    margin: 10px 0;
    width: 100%;
    cursor: pointer;
    font-family: 'Press Start 2P', cursive;
    font-size: 16px;
}

.modal-content button:hover {
    background-color: #333;
}

.weaponClassIcon {
    display: inline-block;
    width: 36px;
    /* Ensure the size matches the canvas */
    height: 36px;
    /* Ensure the size matches the canvas */
    margin-right: 10px;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: white;
    /* Black background */
    border-radius: 50%;
    /* Make icons circular */
    position: relative;
    /* Relative position to add cooldown indicator */
    z-index: 2;
    /* Ensure icon is on top */
}

.cooldown-indicator {
    position: absolute;
    top: -5px;
    /* Adjust to move up */
    left: -5px;
    /* Adjust to move left */
    width: 100%;
    height: 100%;
    border-radius: 50%;
    box-sizing: border-box;
    z-index: 1;
    /* Ensure cooldown indicator is behind the icon */
    pointer-events: none;
    /* Make sure it doesn't block interactions */
}

/* Position the bottom icons container */
.bottom-icons {
    position: fixed;
    bottom: 10px;
    left: 50%;
    /* Center align horizontally */
    transform: translateX(-50%);
    z-index: 1001;
    /* Ensure icons are on top */
    display: flex;
    /* Use flexbox for layout */
    justify-content: center;
    /* Center align the icons */
    /* gap: 10px; /* Add spacing between icons */
    */
}


/* .icon-explosive {
    background-image: url('icons/Explosivelaser.svg');
}

.icon-turret {
    background-image: url('icons/Autocannon.svg');
}

.icon-drone {
    background-image: url('icons/Laserdrone.svg');
}

.icon-bomberdrone {
    background-image: url('icons/Bomberdrone.svg');
}

.icon-sonic {
    background-image: url('icons/Sonicray.svg');
}

.icon-deathray {
    background-image: url('icons/Deathray.svg');
}

.icon-acid {
    background-image: url('icons/Acidbomb.svg');
}

.icon-boomerang {
    background-image: url('icons/Boomerang.svg');
}


.icon-freeze {
    background-image: url('icons/Freeze.svg');
}

.icon-nanoswarm {
    background-image: url('icons/Basiclaser.svg');
}
 */
.iconContainer {
    position: relative;
    display: inline-block;
    margin-right: 10px;
}

.upgradeCount {
    position: absolute;
    top: -10px;
    right: -10px;
    background-color: yellow;
    color: black;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    font-weight: bold;
    z-index: 1;
}

#achievementsContainer {
    margin-top: 20px;
    /* max-height: 300px; */
    /* Adjust this height as needed */
    overflow-y: auto;
}

/* #achievementsContainer {
    margin-top: 20px;
    text-align: left;
  } */

#achievementsList {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.achievement {
    display: flex;
    align-items: center;
    padding: 5px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #222;
    color: #0f0;

}

.achievement span {
    font-size: 12px;
    /* Adjust the font size as needed */
}


.achievement img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

#weaponInfo {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    z-index: 1000;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
}

#weaponInfo h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

.weapon {
    display: inline-block;
    margin: 20px;
    text-align: center;
}

.weapon img {
    width: 80px;
    height: 80px;
    display: block;
    margin: 0 auto 10px;
}

.weapon p {
    font-size: 14px;
}

table {
    width: 100%;
    text-align: center;
    border-collapse: collapse;
}

th,
td {
    padding: 10px;
}